@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Manrope:wght@200..800&display=swap');

.card {
    border-radius: 5.542px;
    background: linear-gradient(228deg, #DBDBDC 12.68%, #DDDDDE 26.4%, #E7E7E7 36.51%, #F6F6F6 45.17%, #FFF 48.78%, #FAFAFB 50.23%, #E1E1E2 63.95%, #D1D2D3 75.5%, #CCCDCE 84.88%), linear-gradient(56deg, #CBCBCB 8.69%, #DCDCDC 30.8%, #F8F8F8 52.92%, #DCDCDC 75.04%, #CBCBCB 97.16%);
    box-shadow: 0px 0.575px 8.574px 0px rgba(0, 0, 0, 0.20) inset, 3.453px 2.302px 7.596px 0px rgba(255, 255, 255, 0.50) inset;
}

.card.pan,
.card.name,
.card.expiration-date,
.card.security-code,
.card.cvv_expiration_time,
.card.pin {
    color: #2F2F30;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
}

.card.pan.copy-icon {
    color: #233BC1;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.content{
    background-color:rgba(249, 249, 249, 1) ;
}

.activation-form {
    font-family: Manrope;
    display: flex;
    font-style: 1em;
    flex-direction: column;
    justify-content: flex-end;
    align-items: normal;
    position: relative;
    margin: auto;
    max-width: 1500px;
    min-width: 370px;
    padding: 0px 32px;
   height: auto;
}

.activation-form .pan-input{
    box-sizing: border-box;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;
    margin: 5px;
    border: 1px solid #BEC6D3;
    width: 100%;
    border-radius: 4px;
    font-size: 1rem;
    border-radius: 5px;
    height:44px;
   
}
.activation-form .error-field {
    color:#F52648;
    font-size:12px;
}
.activation-form .pan-input:focus {
 border:1px solid #233BC1;
}

.activation-form .submit-button {
    cursor: pointer;
    margin: 10px 5px 5px;
    font-family: Manrope, Helvetica Neue, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    justify-content: center;
    color:#fff;
    background:  #233BC1;
    border: none;
    order: 0;
    flex-grow: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 100%;
    border-radius: 8px;
    height: 44px;
}
