@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Manrope:wght@200..800&display=swap');

.content{
    background-color:rgba(249, 249, 249, 1) ;
}
.copy-icon {
    color: #233BC1;
    width: 20px;
    height: 20px;
    position: absolute;
    float: right;
    right: 0;
}
div#list:before {
    content: "Datos de tu tarjeta";
    position: relative;
    color: #393C40;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}
.list {
    width:370px;
    background: rgba(255, 255, 255, 1);
    justify-content: end;
    align-items: normal;
    border-radius: 8px;
    padding: 16px;
    position: relative;
    box-shadow: 0px 0px 20px 0px rgb(191 191 191 / 53%);
    margin: auto;
    color: #5B636C;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 16.8px */
}
.list .label{
    color: #393C40;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    line-height: 120%; /* 16.8px */
    padding: 4px 0;
    display: block;
}
.list .name .label, .list .expiration-date .label, .list .pan .label, .list .security-code .label{
    padding: 4px 0;
    font-size: 14px;
    font-weight: 700;
    color: #393C40;
} 
.list .pan{
    color: #5B636C;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    padding: 0 0 16px 0px;
    border-bottom: 1px solid rgba(224, 225, 232, 1);
    margin: 16px 0;
    position: relative;
}
.list .pan .wrapper{
    color: #5B636C;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    display: flex;
    place-self: flex-start;
    width: 100%;
}
.list .name {
    color: #5B636C;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    padding: 0px 0px 16px 0px;
    border-bottom: 1px solid rgba(224, 225, 232, 1);
    margin: 0px 0px 16px 0px;
    position: relative;
    text-transform: capitalize;
    letter-spacing: 0;
    display: flex;
    flex-direction: column;
}

.list .expiration-date{
    color: #5B636C;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    padding: 0px 0px 16px 0px;
    border-bottom: 1px solid rgba(224, 225, 232, 1);
    margin: 0px 0px 16px 0px;
    position: relative;
}
.list .security-code{
    color: #5B636C;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    padding: 0px 0px 16px 0px;
}
